h1{
    font-size: 7.55vw;
    font-family: "BenzinBold";
    grid-area: 2/2/3/3;
}
h3{
    font-size: 1.6vw;
    font-family: "BenzinBold";
}
h4{
    font-size: 1.3vw;
    font-family: "BenzinBold";
    color: #9E6D6D;
    opacity: 20%;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.screen1{
    display: grid;
    grid-template-columns: 0.95fr 46.927vw 1fr;
    grid-template-rows: 1fr 85% 1fr;
    width: 100vw;
    height: 100vh;
    background: #552828;
}

.screen2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background: #F8B52D;
}

.screen1Counter{
    place-self: center;
    grid-area: 1/2/2/3;
}

/* Летающие фигуры слева */
.flyingSquare{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FFC508;
    rotate: 150deg;
    margin-top: 24%;
    margin-left: 58%;
    grid-area: 2/1/3/2;
    cursor: pointer;
}

.flyingTriangle{
    width: 0;
    height: 0;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
    border-bottom: 2.8vw solid #FFC508;
    rotate: 120deg;
    margin-top: 127%;
    margin-left: 23%;
    grid-area: 2/1/3/2;
    cursor: pointer;
}

.flyingStarContainer1{
    width: 6.1vw;
    height: 6.1vw;
    margin-top: 145%;
    margin-left: 30%;
    grid-area: 2/1/3/2;
}

.flyingStar1{
    width: 6.1vw;
    height: 6.1vw;
    cursor: pointer;
}

.flyingTriangle2{
    width: 0;
    height: 0;
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
    border-bottom: 3.2vw solid #5065FF;
    rotate: 40deg;
    margin-top: 174%;
    margin-left: 56%;
    grid-area: 2/1/3/2;
    cursor: pointer;
}

/* Летающие фигуры справа */
.flyingStarContainer2{
    width: 9.5vw;
    height: 9.5vw;
    margin-top: 100%;
    margin-left: 40%;
    grid-area: 2/3/3/4;
}

.flyingStar2{
    width: 9.5vw;
    height: 9.5vw;
    cursor: pointer;
    /* animation: littleMoving 10s linear infinite; */
}
    @keyframes littleMoving{
        0%{}
        50%{ margin-top: -1vw; margin-left: 1vw }
        100%{ margin-top: 0; margin-left: 1vw }
    }

.flyingTriangle3{
    width: 0;
    height: 0;
    border-left: 1.4vw solid transparent;
    border-right: 1.4vw solid transparent;
    border-bottom: 3.1vw solid #FFE0CB;
    rotate: 220deg;
    margin-top: 78%;
    margin-left: 64%;
    grid-area: 2/3/3/4;
    cursor: pointer;
}

.flyingTriangle4{
    width: 0;
    height: 0;
    border-left: 1.1vw solid transparent;
    border-right: 1.1vw solid transparent;
    border-bottom: 2.4vw solid #FFE0CB;
    rotate: -50deg;
    margin-top: 135%;
    margin-left: 72%;
    grid-area: 2/3/3/4;
    cursor: pointer;
}

.flyingSquare2{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #EC4E4C;
    rotate: 150deg;
    margin-top: 24%;
    margin-left: 58%;
    grid-area: 2/3/3/4;
    cursor: pointer;
}

/* ЦЕНТРАЛЬНАЯ КОМПОЗИЦИЯ */
.letter{
    cursor: pointer;
}

.letterS{
    color: #049D5B;
    margin-left: 15.52vw;
    margin-top: 35vw;
    z-index: 7;
}
.letterH{
    color: #F06D6C;
    margin-left: 39.34vw;
    margin-top: 17.65vw;
    z-index: 1;
}
.letterA{
    color: #EC4E4C;
    margin-left: 39.118vw;
    margin-top: 9.9vw;
}

.letterD{
    color: #697BFF;
    margin-left: 2.2vw;
    margin-top: 12.5vw;
    z-index: 7;
    pointer-events: none;
}
.letterO{
    color: #EC4E4C;
    margin-left: 36.5vw;
    margin-top: 35.3vw;
    z-index: 7;
}
.letterW{
    color: #EC4E4C;
    margin-left: 19.68vw;
    margin-top: 25.3vw;
    z-index: 7;
}

.yellowSquare{
    width: 15.6vw;
    height: 15.6vw;
    background: #FFC508;
    justify-self: center;
    margin-top: 7.8vw;
    grid-area: 2/2/3/3;
    z-index: 2;
}

.blueSquareSemicircle{
    width: 15.6vw;
    height: 15.6vw;
    background: #5065FF;
    border-radius: 50% 0 0 50%;
    margin-top: 7.8vw;
    grid-area: 2/2/3/3;
}

.orangeSemicircle{
    width: 7.8vw;
    height: 15.6vw;
    background: #FF6800;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    margin-top: 7.8vw;
    margin-left: 31.2vw;
    grid-area: 2/2/3/3;
}

.aboveTheYellow{
    z-index: 2;
}

.blueRectangle{
    width: 15.6vw;
    height: 3.9vw;
    background: #5065FF;
    justify-self: center;
    margin-top: 23.4vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}

.redRectangle{
    width: 15.6vw;
    height: 3.9vw;
    background: #EC4E4C;
    justify-self: center;
    margin-top: 27.3vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}

.greenRectangle{
    width: 15.6vw;
    height: 3.9vw;
    background: #049D5B;
    justify-self: center;
    margin-top: 31.2vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}

.greenSquare{
    width: 8.85vw;
    height: 6vw;
    background: #049D5B;
    margin-top: 35.1vw;
    margin-left: 22.4vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}


.yellowFigure{
    width: 22.5vw;
    height: 20vw;
    background: #FFC508;
    border-radius: 0 0 0 50%;
    margin-top: 23.4vw;
    margin-left: 7.6vw;
    grid-area: 2/2/3/3;
    z-index: 4;
}

.orangeOutlinedSemicircle{
    width: 9.4vw;
    height: 4.7vw;
    border: 3.125vw solid #FF6800;
    border-radius: 50% 50% 0 0 / 75% 75% 0 0;
    margin-top: 15.6vw;
    margin-left: 7.6vw;
    grid-area: 2/2/3/3;
    z-index: 3;
}

.beigeCircle{
    width: 15.6vw;
    height: 15.6vw;
    background-color: #FEA3A2;
    border-radius: 50%;
    margin-left: 7.6vw;
    grid-area: 2/2/3/3;
    z-index: 1;
}
.greenCircle{
    width: 9.375vw;
    height: 9.375vw ;
    background-color: #049D5B;
    border-radius: 50%;
    margin-left: 10.938vw;
    margin-top: 3.125vw;
    grid-area: 2/2/3/3;
    z-index: 2;
}

.eyeLeft{
    width: 2.19vw;
    height: 2.19vw;
    background-color: #030B18;
    border-radius: 50%;
    margin-left: 12.188vw;
    margin-top: 4.427vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}

.beigeSquare{
    width: 4.635vw;
    height: 4.635vw;
    background-color: #FFE0CB;
    margin-left: 10.938vw;
    margin-top: 3.125vw;
    grid-area: 2/2/3/3;
    z-index: 3;
}

.quarterOfOrangeCircle{
    width: 1.458vw;
    height: 1.458vw;
    background-color: #FF6800;
    border-radius: 100% 0 0 0;
    transform: rotate(180deg);
    margin-left: 15.6vw;
    margin-top: 7.76vw;
    grid-area: 2/2/3/3;
    z-index: 6;
    
}

.quarterOfDarkOutlinedCircle{
    width: 3.17vw;
    height: 3.17vw;
    border: 1.563vw solid #030B18;
    border-bottom: none;
    border-right: none;
    border-radius: 100% 0 0 0;
    transform: rotate(180deg);
    margin-left: 15.6vw;
    margin-top: 7.76vw;
    grid-area: 2/2/3/3;
    z-index: 6;
}

.quarterOfBlueOutlinedCircle{
    width: 6.05vw;
    height: 6.3vw;
    border: 1.563vw solid #5065FF;
    border-bottom: none;
    border-right: none;
    border-radius: 100% 0 0 0;
    transform: rotate(180deg);
    margin-left: 15.6vw;
    margin-top: 7.76vw;
    grid-area: 2/2/3/3;
    z-index: 6;
}

.redStarContainer{
    width: 15.625vw;
    height: 15.625vw;
    margin-top: 23.438vw;
    grid-area: 2/2/3/3;
    z-index: 5;
}

.redStar{
    width: 15.625vw;
    height: 15.625vw;
    animation: rotating 6s ease-in-out infinite;
}
    @keyframes rotating {
        0% {}
        75% {rotate: 360deg; }
        100% {rotate: -360deg; }
    }
    .redStar:hover{
        background-color: #FEA3A2;
    }

.eyeRight{
    width: 2.19vw;
    height: 2.19vw;
    background-color: #030B18;
    border-radius: 50%;
    margin-left: 37.97vw;
    margin-top: 6.77vw;
    grid-area: 2/2/3/3;
    z-index: 2;
}

.yellowStarContainer{
    width: 15.625vw;
    height: 15.625vw;
    margin-left: 31.25vw;
    grid-area: 2/2/3/3;
    z-index: 1;
}

.yellowStar{
    width: 15.625vw;
    height: 15.625vw;
}

.darkCircle{
    width: 10vw;
    height: 10vw;
    background-color: #030B18;
    border-radius: 50%;
    grid-area: 2/2/3/3;
}
    .leftUp{
        margin-left: 25.28vw;
        margin-top: 23.438vw;
    }
    .rightUp{
        margin-left: 35.25vw;
        margin-top: 23.438vw;
    }
    .leftDown{
        margin-left: 25.28vw;
        margin-top: 33.4vw;
    }
    .rightDown{
        margin-left: 35.25vw;
        margin-top: 33.4vw;
    }

.smallbeigeSquare1{
    width: 3vw;
    height: 3vw;
    background-color: #FFE0CB;
    margin-top: 26.3vw;
    margin-left: 33.75vw;
    grid-area: 2/2/3/3;
}

.smallbeigeSquare2{
    width: 5.2vw;
    height: 5vw;
    background-color: #FFE0CB;
    margin-top: 33.4vw;
    margin-left: 30vw;
    grid-area: 2/2/3/3;
}

.smallRedRectagle{
    width: 1.5vw;
    height: 2.1vw;
    background-color: #EC4E4C;
    transform-origin: bottom;
    margin-left: 34.5vw;
    margin-top: 26.1vw;
    grid-area: 2/2/3/3;
    animation: movingUpAndDown 5s linear infinite;
}
    @keyframes movingUpAndDown {
        0%{ transform: scaleY(1); }
        50%{ transform: scaleY(1.7); }
        100%{ transform: scaleY(1); }
    }

.smallRedSquare{
    width: 2.81vw;
    height: 2.81vw;
    background-color: #EC4E4C;
    margin-left: 30.1vw;
    margin-top: 35.6vw;
    grid-area: 2/2/3/3;
    animation: increasingAndDecreasing 5s linear infinite;
}
    @keyframes increasingAndDecreasing {
        0%{ scale: 1; }
        50%{ scale: 1.5; margin-top: 34.95vw; margin-left: 30.5vw;}
        100%{ scale: 1; }
    }

.smallBeigeCircle{
    width: 4.69vw;
    height: 4.69vw;
    background-color: #FFE0CB;
    border-radius: 50%;
    margin-left: 37.9vw;
    margin-top: 36.1vw;
    grid-area: 2/2/3/3;
}

.yellowRectangleColumn{
    width: 7.813vw;
    height: 3.3vw;
    background-color: #FFC508;
    margin-left: 39.1vw;
    margin-top: 30.05vw;
    grid-area: 2/2/3/3;
}

.redRectangleColumn{
    width: 7.813vw;
    height: 3.3vw;
    background-color: #EC4E4C;
    margin-left: 39.1vw;
    margin-top: 26.75vw;
    grid-area: 2/2/3/3;
}

.blueRectangleColumn{
    width: 7.813vw;
    height: 3.3vw;
    background-color: #5065FF;
    margin-left: 39.1vw;
    margin-top: 23.45vw;
    grid-area: 2/2/3/3;
}

.RedSquareColumn{
    width: 7.813vw;
    height: 7.813vw;
    background-color: #EC4E4C;
    margin-left: 39.1vw;
    margin-top: 15.625vw;
    grid-area: 2/2/3/3;
}

.noseRight{
    width: 0;
    height: 0;
    margin-top: 3vw;
    margin-left: 48vw;
    border-left: 1.3vw solid transparent;
    border-right: 1.3vw solid transparent;
    border-bottom: 3.2vw solid #5065FF;
    rotate: 68deg;
    grid-area: 2/2/3/3;
    
    animation-play-state: running;
    transition: border-bottom-color 0.5s ease-in-out;
    animation: noseMove 6s ease-in-out infinite;
    
}
.noseLeft{
    width: 0;
    height: 0;
    margin-left: 3.3vw;
    border-left: 2.2vw solid transparent;
    border-right: 2.2vw solid transparent;
    border-bottom: 4.8vw solid #EC4E4C;
    rotate: -60deg;
    grid-area: 2/2/3/3;
    cursor: pointer;
    animation-play-state: running;
    animation: noseMove 6s ease-in-out infinite;
}
    @keyframes noseMove {
        0%, 100% { transform: translateX(0) rotate(0deg); }
        25% { transform: translateX(-2vw) rotate(-13deg); }
        75% { transform: translateX(2vw) rotate(13deg); }
    }
    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-0.5vw); }
        50% { transform: translateX(0.5vw); }
        75% { transform: translateX(-0.5vw); }
        100% { transform: translateX(0); }
      }

.scrollTip{
    place-self: center;
    grid-area: 3/2/4/3;
    animation: scrollTip 2s ease-in-out infinite;
}

.arrowToDown{
    width: 1.4vw; 
    height: 1.4vw; 
    box-shadow: -0.26vw 0.26vw 0 #9E6D6D;
    opacity: 20%;
    rotate: 315deg;
    grid-area: 3/2/4/3;
    animation: arrowsScrollTip 2s ease-in-out infinite;
}

.leftArrow{
    margin-left: 34%;
}

.rightArrow{
    margin-left: 63%;
}

    @keyframes arrowsScrollTip {
        0%{margin-top: 0.6vw;}
        50%{margin-top: 0.8vw;}
        100%{margin-top: 0.6vw;}
    }
    @keyframes scrollTip {
        0%{}
        50%{margin-top: 0.5vw;}
        100%{margin-top: 0}
    }

/* ЭКРАН 2 */

    .canvas{
        width: 640px;
        height: 640px;
        grid-area: 1/2/2/3;
        
    }

    .resetButtonContainer{
        width: 8.6vw;
        height: 3.2vw;
        line-height: 3.2vw;
        background-color: #EC4E4C;
        place-items: center;
        justify-self: start;
        grid-area: 2/2/3/3;
    }
    
    .leftCanvasText{
        color: #EC4E4C;
        writing-mode: vertical-rl;
        grid-area: 1/1/2/2;
    }

    .bottomCanvasText{
        color: #EC4E4C;
        justify-self: end;
        grid-area: 2/2/3/3;
    }

    .resetButtonText{
        color: #FFC508;
        /* margin-left: 1.7vw;
        margin-top: 0.8vw; */
        /* grid-area: 2/2/3/3; */
    }

    .redCornerLeft{
        width: 0;
        height: 0;
        border-left: 13.385vw solid transparent;
        border-right: 13.385vw solid transparent;
        border-bottom: 13.385vw solid #EC4E4C;
        transform: rotate(225deg);
        justify-self: start;
        align-self: end;
        margin-left: -8.7vw;
        margin-top: 8.7vw;
        grid-area: 2/1/3/2;
    }

    .brush{
        width: 3.23vw;
        height: 3.23vw;
        background-color: #EC4E4C;
        margin-bottom: 1.51vw;
        justify-self: start;
        align-self: end;
        grid-area: 1/3/2/4;
    }

    .marker{
        width: 3.23vw;
        height: 3.23vw;
        background-color: #EC4E4C;
        margin-bottom: 4.74vw;
        justify-self: start;
        align-self: end;
        grid-area: 1/3/2/4;
    }

    .eraser{
        width: 3.23vw;
        height: 3.23vw;
        background-color: #EC4E4C;
        margin-bottom: 7.97vw;
        justify-self: start;
        align-self: end;
        grid-area: 1/3/2/4;
    }

    .ChoosingButton{
        width: 3.23vw;
        height: 3.23vw;
        background-color: #EC4E4C;
        border-radius: 50%;
        margin-top: 30px;
        align-self: end;
        grid-area: 1/3/2/4;
        justify-items: center;
    }
        .greenChoosingButton{
            margin-bottom: 7.97vw;
            margin-left: 3.23vw;
        }

        .orangeChoosingButton{
            margin-bottom: 4.74vw;
            margin-left: 3.23vw;
        }

        .yellowChoosingButton{
            margin-bottom: 1.51vw;
            margin-left: 3.23vw;
        }

        .beigeChoosingButton{
            margin-bottom: 4.74vw;
            margin-left: 6.46vw;
        }

        .blueChoosingButton{
            margin-bottom: 1.51vw;
            margin-left: 6.46vw;
        }

        .redChoosingButton{
            margin-bottom: -1.7vw;
            margin-left: 6.46vw;
        }
        
        .blackChoosingButton{
            margin-bottom: 1.51vw;
            margin-left: 9.7vw;
        }

    .circleColour{
        width: 1.25vw;
        height: 1.25vw;
        border-radius: 50%;
    }
        .greenColour{
            background-color: #049D5B;
        }
        .orangeColour{
            background-color: #FF6800;
        }
        .yellowColour{
            background-color: #FFC508;
        }
        .beigeColour{
            background-color: #FEA3A2;
        }
        .blueColour{
            background-color: #5065FF;
        }
        .blackColour{
            background-color: #030B18;
        }
        .redColour{
            background-color: #a92724;
        }

/*
.move-area{
    width: 100vw;
    height: 100vw;
    background: lightgoldenrodyellow;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.container{
    width: 100%;
}

.eye{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: lavender;
}

.move-area{
    width: 100vw;
    height: 100vw;
    padding: 10% 45%;
    background: lightgoldenrodyellow;
    display: flex;
}

.eye:after{
    bottom: 0.5vw;
    position: absolute;
    right: 1vw;
    width: 2vw;
    height: 2vw;
    background: darkblue;
    border-radius: 50%;
    border: 0.2px solid black;
    content: " ";
}

.cursor{
    position: absolute;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    animation: color_change 8s infinite linear;
}

@keyframes color_change {
    0%{background: red;}
    25%{background: orange;}
    50%{background: yellow;}
    75%{background: blue;}
    100%{background: red;}
}
*/



